<footer class="footer">
  <div class="container footer-container">
  <p class="footer-text">© 2025 "Грим та грім". Всі права захищені.</p>
  <ul class="footer-list">
    <li class="footer-item">
      <a class="footer-link" href="mailto:booking@lotoplay">booking@lotoplay</a>
    </li>
    <li class="footer-item">
      <a class="footer-link" href="tel:+380991234567">+38 (099) 123-45-67</a>
    </li>
  </ul>
  <ul class="social-list">
<li class="social-item">
  <a href="https://www.instagram.com/">Instagram</a>
</li>
<li class="social-item">
  <a href="https://www.youtube.com/">YouTube</a>
</li>
<li class="social-item">
  <a href="https://www.facebook.com/">Facebook</a>
</li>
  </ul>
  </div>
</footer>
