<!-- Hero -->
 <section class="hero-section">
    <div class="container hero-conteiner">
        <h1 class="hero-title">Гурт «Грим та Грім»</h1>
        <p class="under-title">Справжній український рок, який гуркоче в серці.</p>
        <div class="hero-text-wrapper">
            <p>«Грим та Грім» — це поєднання <span class="span">потужних</span> гітарних рифів, чесних текстів і вибухової енергії сцени. Ми граємо для тих, хто
            цінує живий звук, свободу та силу музики.</p>
            <p><span class="span">Наші концерти</span> — це завжди контакт з залом, драйв і емоції. Приєднуйся до нас на найближчих виступах і відчуй цей саунд
            наживо!</p>
        </div>
        <button class="hero-btn order-btn" id="openPopupBtn">ЗАКАЗАТИ КВИТОК</button>
        <p id="responseMessage" class="response-msg"></p>
    </div>
 </section>