<div class="popup-wrapper" id="popupWrapper">
    <div class="popup">
        <span class="close-popup" id="closePopup">✖</span>
        <h2 class="popup-title">Замовлення квитка</h2>
        <form id="sendForm" class="popup-form">
            <input class="popup-input" type="text" id="name" placeholder="Ваше ім'я" required />
            <input class="popup-input" type="email" id="email" placeholder="Email" required />
            <button class="hero-btn" type="submit">Відправити</button>
        </form>
    </div>
</div>