body{
  background-color: #0f0f11;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4
}
h2{
  font-size: 24px;
  font-weight: 600;
}
th{
    padding-top: 10px;
    padding-bottom: 10px;
}
td{
    padding-top: 10px;
    padding-bottom: 10px;
}