.hero-section{
    background-image: url("/img/hero-bg.jpg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
.hero-title{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 14px;
}
.under-title{
    font-size: 18px;
    text-align: center;
    margin-bottom: 16px;
}
.hero-text-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}
.span{
    font-weight: 600;
    color: #0ab1e4;
}
@media only screen and (min-width: 768px) {
.hero-title{
text-align: left;
}
.under-title{
    text-align: left;
}
}
@media only screen and (min-width: 1200px) {
.hero-section{
    background-position: top -120px center;
}
  .hero-title{
    font-size: 50px;
    margin-bottom: 30px;
  }
  .under-title{
    font-size: 24px;
    margin-bottom: 20px;
  }
  .hero-text-wrapper{
    gap: 16px;
    margin-bottom: 30px;
    font-size: 18px;
  }
 .hero-conteiner{
    padding-bottom: 120px;
 }
}
/* CONCERTS TABLE */
.concerts-container{
    padding-left: 10px;
    padding-right: 10px;
}
.concerts-wrapper{
    background-color: rgba(33, 33, 43, 0.7);
    border-radius: 10px;
    border: 1px solid #262629;
    width: 100%;
   padding:14px 0px 0;
   position: relative;
}
.concerts-title{
    padding: auto;
    margin-bottom: 14px;
    text-align: center;
  }
.concerts-table{
    font-size: 12px;
}
.about-concerts{
    background-color: rgba(33, 33, 43, 0.7);
    text-align: left;
    border-bottom: 1px solid #262629;
    border-top: 1px solid #262629;
   
}
.about-concerts-next{
   
    text-align: left;
        border-bottom: 1px solid #262629;
}
.about-concerts-next:last-child {
    text-align: left;
    border-bottom: none;
}
table {
    border-collapse: collapse;
    width: 100%;   
}
.buy-btn{
    background-color: #ff325c;
    border: none;
    border-radius: 10px;
    padding: 4px;
    color: #fff;
   transition: all 0.3s ease-in-out;
}
.buy-btn:hover {
    background-color: #ff5978;
    
}
@media only screen and (min-width: 768px) {
.concerts-container{
    padding-left: 20px;
    padding-right: 20px;
}
}
@media only screen and (min-width: 1200px) {
.concerts-container {
        padding-left: 120px;
        padding-right: 120px;
    }
.concerts-title{
    text-align: left;
    margin-left: 10px;
    font-size: 24px;
}
.buy-btn{
   padding: 10px;
}
th{
    padding: 10px;
    
}
td{
    padding: 10px;
}
.concerts-table {
    font-size: 18px;
}
}
/* TEAM */
.team-title{
    text-align: center;
}
.team-list{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.team-item{
border: 1px solid #262629;
background-color: rgba(33, 33, 43, 0.7);
border-radius: 10px;
}
.team-text{
    padding: 10px;
}
@media only screen and (min-width: 768px) {
.team-title{
  font-size: 30px;  
}
.team-list{
    flex-direction: row;
    flex-wrap: wrap;
   justify-content: center;
}
.team-item{
width: 280px;
}
}
@media only screen and (min-width: 1200px) {
.team-title {
        font-size: 36px;
}
.team-list{
    margin-top: 40px;
    gap: 80px;
}
.team-text{
    font-size: 18px;
}
}
/* HISTORY */
.history-section{
    background-image: url("/img/back.png"), linear-gradient(360deg, rgba(31, 19, 19, 0.96) 0%, rgba(36, 37, 37, 0.96) 50%, rgba(17, 17, 29, 0.96) 100%);
    background-position: top 80px center, bottom center;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, cover;
}
.history-title{
    text-align: center;
}
.history-list{
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
@media only screen and (min-width: 360px) {
.history-list {
        margin-top: 210px;
    }
}
@media only screen and (min-width: 400px) {
.history-list {
    margin-top: 240px;
}
}
@media only screen and (min-width: 768px) {
  .history-section{
     background-position: top 80px right 20px, bottom center;
     background-size: 300px 200px, cover;
  }
  .history-title{
    text-align: left;
    font-size: 30px;
  }
  .history-list{
    margin-top: 20px;
  }
  .history-item-one{
    width: 420px;
  }
}
  @media only screen and (min-width: 1024px) {
.history-section {
    background-image: url("/img/back.png"), linear-gradient(300deg, rgba(31, 19, 19, 0.96) 0%, rgba(26, 29, 29, 0.96) 50%, rgba(17, 17, 29, 0.96) 100%);
        background-position: top 80px right 60px, bottom center;
        background-size: 340px 220px, cover;
    }

    .history-title {
     font-size: 34px;
    }
    .history-item-one{
    width: 460px;
  }
  }
  @media only screen and (min-width: 1200px) {
.history-section {
    background-position: top 140px right 120px, bottom center;
    background-size: 500px 190px, cover;
}
  .history-title {
      text-align: left;
      font-size: 36px;
  }
  .history-item-one{
    width: 710px;
  }
  }
@media only screen and (min-width: 1441px) {
.history-section {
        background-position: top 140px right 260px, bottom center;
    }
}
/* CONTACT */
.contact-section{
    background-image: linear-gradient(360deg, rgba(31, 19, 19, 0.96) 0%, rgba(36, 37, 37, 0.96) 50%, rgba(17, 17, 29, 0.96) 100%);
        background-position:bottom center;
        background-repeat: no-repeat;
        background-size:cover;
}
.contact-title{
    text-align: center;
}
.contact-subtitle{
    margin-top: 10px;
    text-align: center;
}
.contact-flex {
    margin-top: 40px;
    display: flex;
    gap: 40px;
  flex-direction: column;
}

.contact-form {
    flex: 1;
    text-align: left;
}
.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-group label {
    margin-bottom: 6px;
    font-size: 14px;
    color: #bbb;
}

.form-row {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    background: #1a1c20;
    border: 1px solid #2c2f36;
    padding: 12px;
    border-radius: 6px;
    color: #fff;
    font-size: 15px;
}

.contact-form textarea {
    height: 120px;
    resize: none;
}

.btn-submit {
    margin-top: 15px;
    padding: 12px 20px;
    background: #ff325c;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition:all 0.3s ease-in-out;
}

.btn-submit:hover {
    background: #ff5978;
}

.status-message {
    margin-top: 15px;
    font-size: 15px;
    opacity: 0;
    transition: opacity 0.3s;
    color: #38d87f;
}

.contact-map {
border: 1px solid #262629;
    background-color: rgba(33, 33, 43, 0.7);
    border-radius: 10px;
    padding: 16px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
      
}
 @media only screen and (min-width: 768px) {
.contact-map {
        height: 400px;
    }
    .frame-map {
        height: 400px;
    }
}
  @media only screen and (min-width: 1200px) {
      .contact-section {
    background-image:linear-gradient(110deg, rgba(31, 19, 19, 0.96) 0%, rgba(26, 29, 29, 0.96) 50%, rgba(17, 17, 29, 0.96) 100%);
  }
  .contact-title{
    font-size: 36px;
  }
  .contact-subtitle{
    font-size: 18px;
  }
  .contact-flex{
    flex-direction: row;
    align-items: start;
  }
  .contact-form{
    max-width: 700px;
  }
  .form-row{
    flex-direction: row;
  }
  .contact-map{
    width: 600px;
  }

}
