.hero-section{
    background-image: url("/img/hero-bg.jpg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
.hero-title{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 14px;
}
.under-title{
    font-size: 18px;
    text-align: center;
    margin-bottom: 16px;
}
.hero-text-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}
.span{
    font-weight: 600;
    color: #0ab1e4;
}
@media only screen and (min-width: 768px) {
.hero-title{
text-align: left;
}
.under-title{
    text-align: left;
}
}
@media only screen and (min-width: 1200px) {
.hero-section{
    background-position: top -120px center;
}
  .hero-title{
    font-size: 50px;
    margin-bottom: 30px;
  }
  .under-title{
    font-size: 24px;
    margin-bottom: 20px;
  }
  .hero-text-wrapper{
    gap: 16px;
    margin-bottom: 30px;
    font-size: 18px;
  }
 .hero-conteiner{
    padding-bottom: 120px;
 }
}
/* CONCERTS TABLE */
.concerts-container{
    padding-left: 10px;
    padding-right: 10px;
}
.concerts-wrapper{
    background-color: rgba(33, 33, 43, 0.7);
    border-radius: 10px;
    border: 1px solid #262629;
    width: 100%;
   padding:14px 0px 0;
   position: relative;
}
.concerts-title{
    padding: auto;
    margin-bottom: 14px;
    text-align: center;
  }
.concerts-table{
    font-size: 12px;
}
.about-concerts{
    background-color: rgba(33, 33, 43, 0.7);
    text-align: left;
    border-bottom: 1px solid #262629;
    border-top: 1px solid #262629;
   
}
.about-concerts-next{
   
    text-align: left;
        border-bottom: 1px solid #262629;
}
.about-concerts-next:last-child {
    text-align: left;
    border-bottom: none;
}
table {
    border-collapse: collapse;
    width: 100%;   
}
.buy-btn{
    background-color: #ff2d55;
    border: none;
    border-radius: 10px;
    padding: 4px;
    color: #fff;
   transition: all 0.3s ease-in-out;
}
.buy-btn:hover {
    background-color: #88081f ;
    
}
@media only screen and (min-width: 768px) {
.concerts-container{
    padding-left: 20px;
    padding-right: 20px;
}
}
@media only screen and (min-width: 1200px) {
.concerts-container {
        padding-left: 120px;
        padding-right: 120px;
    }
.concerts-title{
    text-align: left;
    margin-left: 10px;
    font-size: 24px;
}
.buy-btn{
   padding: 10px;
}
th{
    padding: 10px;
    
}
td{
    padding: 10px;
}
.concerts-table {
    font-size: 18px;
}
}
/* TEAM */
.team-title{
    text-align: center;
}
.team-list{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.team-item{
border: 1px solid #262629;
background-color: rgba(33, 33, 43, 0.7);
border-radius: 10px;
}
.team-text{
    padding: 10px;
}
@media only screen and (min-width: 768px) {
.team-title{
  font-size: 30px;  
}
.team-list{
    flex-direction: row;
    flex-wrap: wrap;
   justify-content: center;
}
.team-item{
width: 280px;
}
}
@media only screen and (min-width: 1200px) {
.team-title {
        font-size: 36px;
}
.team-list{
    margin-top: 40px;
    gap: 80px;
}
.team-text{
    font-size: 18px;
}
}
