.popup-wrapper {
    position: fixed;
    inset: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
}

.popup {
    background: #fff;
    color: #000;
    padding: 24px;
    width: 320px;
    border-radius: 10px;
    position: relative;
}
.popup-title{
    text-align: center;
    margin-bottom: 14px;
}

.close-popup {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.hero-btn {
    padding: 12px 24px;
    background-color: #ffd000;
    box-shadow: 0 0 20px rgba(240, 185, 35, 0.6);
    font-weight: 700;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.hero-btn:hover{
    background-color: #f0b923;
    scale: 1.1;
}
.popup-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.popup-input{
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}